/* @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300..700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-optical-sizing: auto;
  font-style: normal;
}

@layer components {
  .container-large {
    max-width: 90vw;
  }
  .svg {
    fill: green;
  }
  .blur-bg {
    filter: blur(2px);
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.2); Black background with opacity */
    opacity: 0.5;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
}

@layer utilities {
  .btn {
    @apply w-2/4 cursor-pointer absolute bottom-0 left-0 right-0 translate-y-1/2  md:min-w-40 m-auto flex items-center gap-1 hover:scale-110 transition-all ease-in duration-300;
  }

  .recipe-item {
    @apply mb-8;
  }

  .btn-circle {
    @apply border border-rosey-50 rounded-full md:w-4 md:h-4 w-6 h-6 p-1 flex justify-center items-center;
  }

  .btn-white {
    @apply z-10 text-xl md:text-base;
  }

  .initial-btn {
    @apply justify-center border border-rosey-500 bg-rosey-50 rounded-full md:px-4 md:py-2 p-5 hover:border-primary-red;
  }

  .btn-red {
    @apply bg-primary-red text-rosey-50 flex  justify-between items-center w-full rounded-full md:px-4 md:py-2 p-5;
  }

  .selected {
    @apply border-2 border-primary-red;
  }

  .item-name {
    @apply text-lg;
  }

  .hide {
    @apply hidden;
  }

  .btn-order {
    @apply bg-primary-red text-rosey-50 flex justify-center items-center w-full px-4 py-2 rounded-full hover:scale-110 transition-all ease-in duration-300 hover:bg-rose-800;
  }
}
